<div class= 'container txt text-center mt-5'>
       <% if @project.errors.any? %>
           <div id="error_explanation">
                <h2>Error al crear el proyecto</h2>
                <ul>
                    <% @project.errors.full_messages.each do |msg| %>
                        <% if msg == "Name can't be blank" %>
                            <li class='li'>Debe ingresar un nombre</li>
                        <% elsif msg == "Description can't be blank" %>
                            <li class='li'>Debe ingresar una descripción</li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        <% else %>
            <h4>El proyecto ha sido creado con éxito.</h4>
        <% end %>
</div>