<header class="container col-md-6">
<h2 class="txt my-0">Gestor de Proyectos</h2>
<h5 class="txt my-0">Para ingresar un proyecto completa el formulario</h5>
</header>

<form action="/projects/create" id="create_project" class='mt-3'>
    <div class="container col-md-6 justify-self-center">
        <div class="form-group">
            <div>
                <label>Nombre</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div>
                <label>Descripción</label>
            <textarea name="description" rows="5" class="form-control"></textarea>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label>Fecha de inicio</label>
                    <input type="date" name="start_date" placeholder="fecha inicio" class="form-control">
                </div>
                <div class="col">
                    <label>Fecha de término</label>
                    <input type="date" name="end_date" placeholder="fecha término" class="form-control">
                </div>
            </div>
            <div class="d-inline">
                <label>Estado:</label>
                <%= select_tag :state, options_for_select(Project.states) %>
            </div>
            <div class="d-inline">
              <div class="text-left">
                  <input type="submit" value="Crear Proyecto" class="btn btncolor text-light">
              </div>
            </div>
        </div>
    </div>
</form>