// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.txt {
    color: #282D2E;
}

.btncolor {
    background-color: #008660;
}

.li {
    list-style-type: none; 
}

.link {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}


.other {
    background-color: #468582;
}